body{
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
/* header start  */
.header{
    overflow: hidden;
    width: 100%;
}
.logo{
width: 30%;
height: 80px;
padding-top: 30px;
background-color: crimson;
text-align: center;
float: left;
}
.banner{
 width: 70%;
 height: 80px;
 padding-top: 30px;
 background-color: darkblue;
 text-align: center;
 float: left;
}
/* header end  */
/* header bar start  */
.h_bar{
    width: 100%;
    height: 60px;
    padding-top: 30px;
    background-color: darkorchid;
    text-align: center;
}
/* header bar end  */
/* content start  */
.content{
overflow: hidden;    
width: 100%;
}
.left_c{
width: 20%;
height: 450px;
background-color: darkslateblue;
text-align: center;
float: left;
}
.left_c h1{
    padding-top: 200px;
}
.middle_c{
width: 60%;
height: 450px;
float: left;
}
.middle_up{
    width: 100%;
    height: 125px;
    background-color: chartreuse;
    text-align: center;
}
.middle_up h1{
    padding-top: 40px;
}
.middle_middle{
    width: 100%;
    height: 200px;
}
.middle_left{
    width: 50%;
    height: 200px;
    background-color: chocolate;
    text-align: center;
    float: left;
}
.middle_left h1{
    padding-top: 88px
}
.middle_right{
    width: 50%;
    height: 200px;
    background-color: coral;
    text-align: center;
    float: left;
}
.middle_right h1{
    padding-top: 88px;
}
.middle_down{
    width: 100%;
    height: 125px;
    background-color: chartreuse;
    text-align: center;
}
.middle_down h1{
    padding-top: 40px;
}
.right_c{
width: 20%;
height: 450px;
background-color: orange;
text-align: center;
float: left;
}
.right_c h1{
    padding-top: 200px;
}
/* content end  */
/* footer start  */
.footer{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
}
.footer p{
    padding-top: 14px;
    color: cornsilk;
}
/* footer end  */